*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font_family;
    font-size: $font_size;
}

.container{
    max-width: 1200px;
    margin: 0 auto;

    &::after {
        @include clearfix;
    }
}

.clearfix::after{
    @include clearfix;
}

h1, h2, h3, h4, h5, h6, span{
    color: $brand_primary;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: unset;
}

.section-type1{
    background: $brand_primary;
    padding: $section_padding 0;

    h1, h2, h3, h4, h5, h6, p, span{
        color: #222;
    }
    h1{
        padding: $spacing 0;
    }
}

.section-type2{
    background: #222;
    padding: $section_padding 0;

    h1, h2, h3, h4, h5, h6, p, span{
        color: $brand_primary;
    }
    h1{
        padding: $spacing 0;
    }
}
