*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: $font_size;
}

.container{
    max-width: 80%;
    margin: 0 auto;

    &::after {
        @include clearfix;
    }
}

.clearfix::after{
    @include clearfix;
}

h1, h2, h3, h4, h5, h6, span{
    color: $brand_primary;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: unset;
}
