#upper-footer{
    padding: $section_padding;
    background: whitesmoke;


    .links-box{
        float: left;
        padding: $spacing $spacing;
        width: calc(100% / 4);
        // border: 1px solid black;
        @include flex(column, flex-start,center);

        h4,span{
            color: $brand_secondary;
            padding: ($spacing * 0.3) 0;
            // border: 1px solid black;
            display: inline-block;
            font-weight: lighter;
            font-size: $font_size * 1.1;
        }
        span{
            padding: ($spacing * 0.2) 0;
            font-size: $font_size * 0.9;
            color: rgba($brand_secondary, 0.8);

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .socials-container{
        float: right;
        .icon-box{
            @include flex(row, center, center);
            background: red;
            width: $spacing * 1.7;
            height: $spacing * 1.7;
            // padding: $spacing * 0.2;
            margin: $spacing * 0.1;
            float: left;

            i{
                font-size: $font_size * 2;
                color: $brand_primary;
            }
        }
    }

}
