.jumbotron{
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container{
        height: 450px;
        @include flex(row, center, center);

        .jumbo-left{

            @include flex(row, center, center);
            padding: 20px 0;
            align-self: flex-end;
            flex-grow: 1;
            border: 1px solid white;


            span{
                color: rgba($brand_primary, 0.8);
                font-size: $font_size * 0.8;
            }
        }
        .jumbo-center{
            @include flex(column, flex-end, flex-start);
            flex-grow: 0.5;
            border: 1px solid white;
            padding: 5px;

            li{
                padding: 10px 0;

                h1{
                    font-size: $font-size * 2;
                    font-weight: lighter;
                }
                h2{
                    font-size: $font-size * 1.7;
                    font-weight: lighter;
                }
                i{
                    color: rgba($brand_primary, 0.5);
                    font-size: $font_size * 0.8;
                    align-self: center;
                    padding: 2px;
                }
                span{
                    font-size: $font-size * 1.2;
                }

                .download-button{
                    @include flex(row, flex-start, center);
                    // border: 1px solid white;
                    max-width: 50%;
                    background-color: dimgrey;
                    flex-grow: 0;

                    &:hover{
                        opacity: 0.9;
                    }

                    .left{
                        @include flex(column, center, flex-start);
                        margin: 8px 5px;
                        padding: 0px 10px;;
                        border-right: 1px solid $brand_primary;

                        h2{
                            font-size: $font_size * 1.2;
                            text-transform: uppercase;
                        }
                        span{
                            font-size: $font_size;
                        }
                    }
                    .right{


                        i{
                            color: $brand_primary;
                            font-size: $font_size * 2;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
        .jumbo-right{
            @include flex(column, flex-end, center);
            flex-grow: 2;
            border: 1px solid white;
            height: calc(100% - 30px);
            margin-top: 30px;
            background: $brand_secondary;
        }
    }
}
