@mixin clearfix {
    clear: both;
    display: table;
    content: '';
}

@mixin flex-row($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
