
#secondary-navbar{
    background: whitesmoke;
    ul{
        @include flex(row, flex-start, center);
        // flex-wrap: wrap;

        li{

            a{
                span{
                    display: block;
                    // border: 1px solid green;
                    padding: $spacing * 0.7;
                    font-size: $font_size * 1.3;
                    text-transform: uppercase;
                    color: rgba($brand_secondary, 0.6);
                    // border: 4px solid whitesmoke;


                    &:hover{
                        background: lighten(whitesmoke, 2);
                        border-bottom: 4px solid (lighten(whitesmoke, 2));
                    }

                    &.active{
                        background: $brand_primary;
                        color: $brand_secondary;
                        font-weight: bolder;
                        border-bottom: 4px solid black;
                    }
                }

            }
        }
    }
}
